.recipe-links {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li a{
    text-decoration: none;
}


h1 {
    font-size: 56px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 900;
    color: #101010;
}

h2 {
    font-size: 32px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 600;
    color: #101010;
}

h3 {
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 600;
    color: #101010;
}

p,
li {
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
    color: #101010;
}

img {
    border-radius: 12px;
    overflow: hidden;
    height: 400px;
    width: auto;
}

body {
    padding: 0px 32px 64px 32px;
    max-width: 640px;
}